.Services {
    min-height: auto;
    padding: 7rem;
}

.Services h2 {
    margin-bottom: 5rem;
    padding-top: 5rem;
}

.ServicesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.ServicesBox {
    flex: 1 1 30rem;
    background-color: var(--bg-color);
    min-width: 32%;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
}

.ServicesBox:hover {
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}

.ServicesBox i {
    font-size: 7rem;
    color: var(--main-color);
}

.ServicesBox h3 {
    font-size: 2.5rem;
    transition: .5s ease;
}

.ServicesBox:hover h3 {
    color: var(--main-color);
}

.ServicesBox p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}


.Btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background-color: var(--main-color);
    border-radius: .6rem;
    box-sizing: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
}

.Btn:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

@media (max-width: 450px) {

    .Services {
        padding: 2rem;
    }
    .ServicesBox {
        padding: 1rem 2rem 2rem;
    }
}