@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  
}

:root {
  --bg-color: #fdfdfd;
  --hbg-color: #fdfdbc;
  --sbg-color: #f4f4f6;
  --cbg-color: #f4f4f6;
  --text-color: #333;
  --main-color: #453186;
  --white-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

[data-theme="dark"] {
  --hbg-color: #0b061f;
  --main-color: #754ef9;
  --bg-color: #0b061f;
  --sbg-color: #0b061f;
  --cbg-color: #d4d0e1;
  --text-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, .7);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  box-sizing: border-box;
  overflow-x: hidden;
  transition: all .3s ease-in-out;
}

span {
  color: var(--main-color);
}

h2 {
  font-size: 3rem;
  text-align: center;
}

