.active {
    background-color: var(--sbg-color);
    font-weight: bold;
}

.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: 1s ease-in-out;
}

.HeaderBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
    background: var(--bg-color);
}

nav {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Title {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: pointer;
    margin-right: auto;
    text-decoration: none;
}

.TitleDark {
    font-size: 2.5rem;
    font-weight: 600;
    cursor: pointer;
    margin-right: auto;
    text-decoration: none;
    color: rgb(237, 237, 151);
    text-shadow: 
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 31px #fff,
        0 0 55px rgb(255, 226, 4),
        0 0 91px rgb(255, 226, 4),
        0 0 100px rgb(255, 226, 4),
        0 0 122px rgb(255, 226, 4),
        0 0 140px rgb(255, 226, 4);
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    padding: .5rem;
    margin: 0 .5rem;
    border-radius: .5rem;
    font-size: 2rem;
    transition: 1s ease-in-out;
}

nav ul li a:not(.active):hover {
    background-color: var(--main-color);
    color: var(--white-color);
    
}

.ModeIcon {
    font-size: 2rem;
    margin: 0 2rem;
    color: var(--text-color);
    cursor: pointer;
}

.Menu {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none */