.Portfolio {
    padding: 2rem;
    background-color: var(--sbg-color);
}

.Portfolio h2 {
    padding: 3rem;
    margin-bottom: 5rem;
    padding-top: 5rem;
}

.PortfolioContainer {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.PortfolioBox {
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.PortfolioBox img {
    width: 100%;
    transition: .5s ease;
}

.PortfolioBox:hover img {
    transform: scale(1.1);
}

.PortfolioLayer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}

.PortfolioBox:hover .PortfolioLayer {
    opacity: 1;
}

.PortfolioLayer h4 {
    font-size: 3rem;
}

.PortfolioLayer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.PortfolioLayer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    border-radius: 50%;
}

.PortfolioLayer a i {
    font-size: 2rem;
    color: #333;
}

/* @media (max-width: 768px) {
    .PortfolioContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .PortfolioContainer {
        grid-template-columns: 1fr;
    }

    .PortfolioLayer p {
        font-size: 1.4rem;
        margin: .3rem 0 .5rem;
    }
} */