.About {
    background-color: var(--sbg-color);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.AboutImage img {
    width: 40vw;
    height: 100%;
    padding: 5rem;
    margin: 0 3rem;
    border-radius: 50%;
}  

.AboutContent h2 {
    text-align: left;
    line-height: 1.5;
}

.AboutContent h3 {
    font-size: 2rem;
}

.AboutContent p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    line-height: 1.3;
    width: 80%;
    text-align: justify;
}

.Btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background-color: var(--main-color);
    border-radius: .6rem;
    box-sizing: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
}

.Btn:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

/* @media (max-width: 990px) {
    .About {
        height: auto;
    }
}

@media (max-width: 768px) {
    .About {
        flex-direction: column-reverse;
        text-align: center;
        padding: 4rem;
    }

    .About h2 {
        font-size: 4rem;
        text-align: center;
        padding-top: 5rem;
    }

    .About h3 {
        font-size: 2rem;
    }

    .About p {
        width: 95%;
        text-align: justify;
        padding-inline: 5rem;
        font-size: 2rem;
    }

    .AboutImage img {
        width: 100vw;
        margin-top: -2rem;
    }
}

@media (max-width: 450px) {
    .About {
        padding: 2rem;
    }

    .About p {
        width: 100%;
        padding-inline: 0;
        
    }
} */